.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.order-card {
    background-color: white;
    width: 450px;
    height: 697px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
    text-align: center;
    @include mobile-only {
        width: 327px;
        height: 567px;
    }
    &__image {
        width: 450px;
        border-radius: 20px 20px 0px 0px;
        @include mobile-only {
            width: 327px;
        }
    }
    &__title {
        font-size: 28px;
        font-weight: 900;
        color: $color-dark;
        height: 37px;
        width: 354px;
        margin: 45px 48px 17px 48px;
        @include mobile-only {
            width: 263px;
            height: 29px;
            font-size: 22px;
            margin: 32px 32px 16px 32px;
        }
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        color: $color-desaturated;
        line-height: 26px;
        width: 354px;
        margin: 0px 48px 20px 48px;
        @include mobile-only {
            width: 263px;
            line-height: 25px;
            font-size: 15px;
            margin: 0px 32px 24px 32px;
        }
    }
    &__recap {
        background-color: $color-pale;
        border-radius: 11px;
        display: flex;
        align-items: center;
        margin: 0px 48px 32px 48px;
        @include mobile-only {
            width: 279px;
            margin: 0px 24px 24px 24px;
        }
        &__img {
            width: 48px;
            height: 48px;
            margin: 25px 20px 25px 24px;
            @include mobile-only {
                margin: 17px 20px 16px 16px;
            }
        }
        &__summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 92px;
            height: 48px;
            margin: 25px 94px 25px 0px;
            @include mobile-only {
                font-size: 14px;
                width: 81px;
                height: 40px;
                margin: 21px 50px 21px 0px;
            }
            &-title {
                font-weight: 900;    
            }
            &-price {
                font-weight: 500;    
            }
        }
        &__button {
            border: none;
            background: none;
            color: $color-secondary;
            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: $color-hover;
            }
            @include mobile-only {
                width: 48px;
                height: 17px;
                font-size: 13px;
                margin: 33px 16px 31px 0px;
            }
        }
    }
    &__proceed {
       background-color: $color-secondary; 
       border: none;
       color: white;
       width: 354px;
       height: 50px;
       box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
       padding: 15px 102px 15px 102px;
       margin: 0px 48px 32px 48px;
       border-radius: 11px;
       &:hover {
            background-color: $color-hover;
            cursor: pointer;
       }
       @include mobile-only {
            width: 279px;
            height: 50px;
            padding: 15px 64px 15px 64px;
            margin: 0px 24px 24px 24px;
       }
       >span {
            width: 150px;
            height: 20px;
            white-space: nowrap;
            font-size: 15px;
       }
    }
    &__cancel {
        font-size: 15px;
        width: 900;
        color: $color-desaturated;
        text-decoration: none;
        width: 96px;
        margin: 0px 177px 48px 177px;
        &:hover {
            color: $color-dark;
        }
        @include mobile-only {
            margin: 0px 115px 32px 115px;
        }
    }
}